/*UserTag text*/
.usertag {
    background-color: gray;
    border: 0px;
    border-radius: 50px;
    display: inline-block;
    padding: 4px 10px;
    font-family: 'Poppins', serif;
    color: white;
    font-weight: 500;
    font-size: 14px;
    float: inherit;
    box-sizing: content-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 0.3s ease;
}

.unselectable {
    user-select: none;
}

.outlined {
    padding: 2px 8px;
    border: 2px solid black;
}

.usertagcontainer {
    margin: 4px;
    display: inline-block;
    border: 2px dashed red;
}

.userbadgecontainer {
    margin: 2px 2px 2px 8px;
    width: 44px;
    height: 28px;
    text-align: right;
    position: relative;
}

.userbadgelement {
    text-align: center;
    background-color: gray;
    min-width: 16px;
    border: none;
    border-radius: 50px;
    display: inline;
    padding: 2px 8px;
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    position: absolute;
}
