.notable > tbody > tr > td,
.notable > td,
.notable {
    border: none;
}
.scroll {
    overflow: scroll;
    overflow-x: hidden;
    height: 15.5rem;
}
.summarytablecontainer > th > p {
    font-weight: bold;
}
.only-outline {
    background-color: white;
    border: 2px black solid;
    color: rgb(0, 0, 0);
    padding-right: 20px;
    padding-left: 20px;
}
.summarytablecontainer {
    width: 80%;
    min-width: 50rem;
    margin: 3rem auto;
    align-items: center;
    overflow: scroll;
    max-height: 30rem;
    position: relative;
}
.summarytablecontainer th {
    position: sticky;
    top: 0;
}

.summarytablecontainer th,
.summarytablecontainer td,
.summarytablecontainer tr {
    width: unset;
}

.summarytablecontainer table {
    width: unset;
    min-width: 100%;
}

.disabled {
    opacity: 50%;
}

@media (max-width: 900px) {
    .summarytablecontainer {
        min-width: auto;
        width: unset;
        margin: 3rem 0px;
        overflow-x: scroll;
    }
}
