.notable > tbody > tr > td, .notable > td, .notable{
    border: none;
}
.scroll{
    overflow: scroll;
    overflow-x: hidden;
    height:15.5rem;
}
.scroll::-webkit-scrollbar{
    display:none;
}
.outertable{
    width: 70rem;
}
.actioncol{
    width: 4rem;
}
.hideonhover{
    transition-duration: 1s;
}
.showonhover{
    display : none;
    opacity: 0;
    transition-duration: 1s;
}
.showonhovertext{
    display: none;
}
.hideonhover:hover {
    display : none;
}
.hideonhover:hover +.showonhover{
    display: inline-block;
    opacity: 1;
    box-shadow: 4px 4px 4px lightgray;
}
.hideonhover:hover +.showonhovertext {
    display: block;
}
.activateshowonhovertext:hover +.showonhovertext {
    display: block;
}
.usertag:hover{
    box-shadow: 4px 4px 4px lightgray;
}


/* td, th{
    padding: 0px 10px;
}
th{
    border: 3px black solid;
    border-width: 0 0 3px 0;
}
td{
    border: 1px gray solid;
    border-width: 0 0 1px 0;
} */
.summary_table > th > p{
    font-weight: bold;
}
.only-outline{
    background-color: white;
    border: 2px black solid;
    color: rgb(0, 0, 0);
    padding-right: 20px;
    padding-left: 20px;
}
.summary_table {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 7rem auto;
    align-items: center;
  }
  .disabled{
    opacity: 50%;
  }