@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600|Inter:400,700,800');

/*https://coolors.co/f5f5f5-2c2c2c-d9515e-ec8843-ffbe27-a4b950-3fa272-38b8bc-637fbb*/

:root {
    --white: #f5f5f5;
    --black: #2c2c2c;
}

body {
    padding: 0 20px;
    margin: 0px;
    background-color: var(--white);
}

/*Title*/
h1 {
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 96px;
    letter-spacing: 2.88px;
    line-height: normal;
    margin: 0 16px;
    color: var(--black);
}

/*Subtitles, menu*/
h2 {
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 28px;
    color: gray;
    display: inline-block;
    padding: 0 8px;
    border-radius: 12px;
    margin: 0 12px;
    letter-spacing: 1px;
}

h2:hover {
    color: var(--black);
    transition: 0.2s ease-in-out;
    /*animation: color-box 1s;*/
}

.activeheader {
    color: var(--black);
    /*    background: linear-gradient(
        90deg,
        rgba(217, 81, 94, 1) 10%,
        rgba(255, 190, 39, 1) 36%,
        rgba(164, 185, 80, 1) 66%,
        rgba(56, 184, 188, 1) 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
}

/*Section titles?, short instructions*/
h3 {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 24px;
    margin: 20px;
    color: var(--black);
}

/*Buttons, ExpenseCard Titles*/
h4 {
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
    color: var(--black);
}

/*List Item*/
h5 {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    margin: 24px 8px 0px;
    color: var(--black);
    width: fit-content;
}

/*disclaimer at bottom, */
h6 {
    font-family: Inter, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    margin: 16px 0 0;
    color: var(--black);
}

form h6 {
    text-align: left;
}

/*Numbers, Amounts*/
p {
    font-family: 'Podkova Medium', serif;
    font-size: 14px;
    margin: 12px;
    width: fit-content;
    color: var(--black);
}

/*UserTag text*/
.usertag {
    background-color: gray;
    border: 0px;
    border-radius: 50px;
    display: inline-block;
    padding: 4px 10px;
    font-family: 'Poppins', serif;
    color: white;
    font-weight: 500;
    font-size: 14px;
    float: inherit;
    box-sizing: content-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 0.3s ease;
}

.usertagcontainer {
    margin-right: 4px;
    display: inline-block;
}

.unselectable {
    user-select: none;
}

.outlined {
    padding: 2px 8px;
    border: 2px solid black;
}

.lightoutlined {
    padding: 2px 8px;
    border: 2px solid #a1a1a1;
}

.smallcard {
    border: 1px solid gray;
    border-radius: 12px;
}

table {
    width: 100%;
    border-spacing: 0;
    /*    margin-right: 20px;*/
    table-layout: fixed;
}

th {
    border: 3px var(--black) solid;
    border-width: 0 0 3px 0;
    min-width: min-content;
    background-color: var(--white);
}

tr {
    min-width: min-content;
}

td {
    overflow-y: hidden;
    min-width: min-content;
    border: 1px var(--black) solid;
    border-width: 0 0 1px 0;
}

form td {
    border: none;
    text-align: center;
    padding: 0 8px;
}

th > h5 {
    font-weight: bold;
}

.notable {
    border: none;
}

/*Buttons*/
.sbtn,
.sbtn_with_h4 {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    border: 2px solid var(--black);
    border-radius: 12px;
    width: fit-content;
    margin: 20px;
    padding: 8px 20px;
    display: inline-block;
    text-underline: none;
    color: var(--black);
    outline: none;
    text-decoration: none;
    vertical-align: center;
}

.sbtn:hover {
    box-shadow: 4px 4px 4px lightgray;
}

.sbtn_with_h4:hover {
    box-shadow: 4px 4px 4px lightgray;
}

.sbtn:active {
    transform: translate(2px, 2px);
    transform: scale(0.95);
    box-shadow: 2px 2px 2px lightgray;
    transition-duration: 0.1s;
}

/*Links*/
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--black);
    text-decoration: underline;
}

/*!*Images (arrow)*!
img {
    margin: 0 5px;
    display: inline-block;
}*/

/*Input Fields*/
input,
.input {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 18px;
    border: solid gray;
    border-width: 0 0 2px 0;
    background: none;
    text-align: center;
    color: black;
    box-sizing: border-box;
    height: fit-content;
    margin-bottom: 12px;
    width: 100%;
    outline: none;
    transition: 0.1s ease-in-out;
}

input:hover :not(.sbtn) {
    border-width: 0 0 3px 0;
    /*
    border-image: linear-gradient(
            90deg,
            rgba(217, 81, 94, 1) 10%,
            rgba(255, 190, 39, 1) 36%,
            rgba(164, 185, 80, 1) 66%,
            rgba(56, 184, 188, 1) 90%
        )
        50;*/
    /*box-shadow: 0 2px 4px lightgray;*/
}

input:focus :not(.sbtn) {
    border-width: 0 0 4px 0;
    border-color: var(--black);
    /*
    border-image: linear-gradient(
            90deg,
            rgba(217, 81, 94, 1) 10%,
            rgba(255, 190, 39, 1) 36%,
            rgba(164, 185, 80, 1) 66%,
            rgba(56, 184, 188, 1) 90%
        )
        30;*/
    /*box-shadow: 0 4px 4px lightgray;*/
}

@keyframes gradient-animation {
    0% {
        border-image: linear-gradient(
                90deg,
                rgba(217, 81, 94, 1) 10%,
                rgba(255, 190, 39, 1) 36%,
                rgba(164, 185, 80, 1) 66%,
                rgba(56, 184, 188, 1) 90%
            )
            50;
    }
    100% {
        border-image: linear-gradient(0deg, black, black);
    }
}

@keyframes gradient-animation-color {
    0% {
        color: var(--black);
        background: linear-gradient(
            90deg,
            rgba(217, 81, 94, 1) 10%,
            rgba(255, 190, 39, 1) 36%,
            rgba(164, 185, 80, 1) 66%,
            rgba(56, 184, 188, 1) 90%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        color: black;
    }
}

@keyframes color-box {
    0% {
        color: var(--white);
        background-color: rgba(217, 81, 94, 1);
    }
    20% {
        background-color: rgba(255, 190, 39, 1);
    }
    40% {
        background-color: rgba(164, 185, 80, 1);
    }
    60% {
        background-color: rgba(56, 184, 188, 1);
    }
    80% {
        color: var(--white);
        background-color: rgb(19, 19, 19, 1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes color-text {
    0% {
        color: rgba(217, 81, 94, 1);
    }
    20% {
        color: rgba(255, 190, 39, 1);
    }
    40% {
        color: rgba(164, 185, 80, 1);
    }
    60% {
        color: rgba(56, 184, 188, 1);
    }
    80% {
        color: rgb(19, 19, 19, 1);
    }
}

summary {
    margin-bottom: 12px;
}

/*details > input {
    height: 0;
    overflow: hidden;
}

details[open] > input {
    height: 100px;
    transition: height 0.3s ease-in-out;
}*/

.searchinput {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    border-image: none;
    border-bottom: 2px solid gray;
}

.searchinput:hover,
.searchinput:focus {
    border-image: none;
    border-bottom: 2px solid black;
}

textarea {
    border: solid gray 2px;
    background: none;
    text-align: left;
    color: black;
    font-family: 'Poppins', serif;
    font-size: 18px;
    margin: 10px;
    width: 40rem;
    height: 15rem;
    outline: none;
}

.relativecontainer {
    position: relative;
}

/*Radio Buttons*/
.radio {
    width: auto;
    margin: auto 4px;
    accent-color: var(--black);
}

.radio:focus {
    box-shadow: none;
}

/*Checkbox*/
.checkbox {
    width: auto;
    accent-color: black;
}

.checkbox:hover {
    box-shadow: none;
}

.checkbox:focus {
    box-shadow: none;
}

/*LogIn Button*/
.floating-top {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
}

.righttop {
    width: fit-content;
    text-align: right;
    float: right;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 8px;
    margin: 0;
}

.headerrow {
    margin-bottom: 2rem;
    margin-top: 0;
}

.spookydetails::-webkit-details-marker {
    display: none;
}

.spookydetails > summary::-webkit-details-marker {
    display: none;
}

@media (max-width: 700px) {
    h1 {
        font-size: 56px;
        margin-left: 0;
        margin-bottom: 8px;
        display: inline-block;
    }

    h2 {
        margin-left: 0;
        margin-right: 40px;
    }

    h4 {
        font-size: 14px;
    }

    .headerrow {
        margin-top: 16px;
        margin-bottom: 3rem;
    }

    .floating-top {
        position: initial;
    }

    .sbtn,
    .sbtn_with_h4 {
        font-size: 14px;
        margin: 8px auto;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 700px) {
    .w50-desktop {
        width: 50%;
    }

    .w200px-desktop {
        width: 200px;
    }

    .w500px-desktop {
        width: 500px;
    }

    .w700px-desktop {
        width: 700px;
    }
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% + 14px);
    }
}

@keyframes border {
    0% {
        box-shadow: 0 0 4px #626262;
        transform: translate(0, 0);
    }
    50% {
        box-shadow: 8px 8px 4px #626262;
        transform: translate(-4px, -8px);
    }
    100% {
        box-shadow: 0px 0px 4px #626262;
        transform: translate(0, 0);
    }
}

@keyframes border-dark {
    0% {
        box-shadow: 0 0 4px #383838;
        transform: translate(0, 0);
    }
    50% {
        box-shadow: 8px 8px 4px #383838;
        transform: translate(-4px, -8px);
    }
    100% {
        box-shadow: 0px 0px 4px #383838;
        transform: translate(0, 0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tagerror {
    color: red;
}

/*Generic*/
.w3 {
    width: 3rem;
}

.w5 {
    width: 5rem;
}

.w7 {
    width: 7rem;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.w20px {
    width: 20px;
}

.w60px {
    width: 60px;
}

.w100px {
    width: 100px;
}

.w300px {
    width: 300px;
}

.w500px {
    width: 500px;
}

.w700px {
    width: 700px;
}

.wfitcontent {
    width: fit-content;
}

.w {
    width: unset;
}

.h1 {
    height: 1rem;
}

.h2 {
    height: 2rem;
}

.h3 {
    height: 3rem;
}

.h5 {
    height: 5rem;
}

.h10 {
    height: 10rem;
}

.minw300 {
    min-width: 300px;
}

.maxw30 {
    max-width: 30%;
}

.minw700 {
    min-width: 700px;
}

.maxw700 {
    max-width: 700px;
}

.fs14 {
    font-size: 14px;
}

.fs18 {
    font-size: 18px;
}

.fs24 {
    font-size: 24px;
}

.fs36 {
    font-size: 36px;
}

.fs72 {
    font-size: 72px;
}

.right {
    text-align: right;
    align-content: end;
    align-items: end;
    align-self: end;
}

.floatright {
    float: right;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
    vertical-align: top;
}

.centerText {
    text-align: center;
}

.left {
    text-align: left;
}

.absolute {
    position: absolute;
}

.m20sides {
    margin: 0 20px;
}

.m36sides {
    margin: 0 36px;
}

.m16topdown {
    margin: 16px 0;
}

.m8top {
    margin-top: 8px;
}

.m8 {
    margin: 8px;
}

.m8right {
    margin-right: 8px;
}

.m4top {
    margin-top: 4px;
}

.m4 {
    margin: 4px;
}

.m4right {
    margin-right: 4px;
}

.m4left {
    margin-left: 4px;
}

.nopadding {
    padding: 0;
}

.p4 {
    padding: 4px;
}

.p8 {
    padding: 8px;
}

.p8right {
    padding-right: 16px;
}

.p48 {
    padding: 4px 8px;
}

.hunset {
    height: fit-content;
}

.middleinside {
    text-align: center;
    align-content: center;
}

.middleself {
    margin: 0 auto;
}

.border {
    border: 2px solid black;
    border-radius: 12px;
    padding: 16px;
}

.dashed {
    border-style: dashed;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
    color: darkslategray;
}

.podkova {
    font-family: 'Podkova Medium', serif;
    font-size: 24px;
}

.inter {
    font-family: Inter, serif;
}

.min-width {
    width: min-content;
    padding: 0;
}

.nomargin {
    margin: 0;
}

.nomargininside * {
    margin: 0;
}

@media (min-width: 700px) {
    .flex-row-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
}

@media (max-width: 700px) {
    .flex-row-desktop button {
        margin: 8px 8px;
        width: 100%;
        text-align: center;
    }
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-row-space-between * {
    margin: 0;
}

.flex1-inside > * {
    flex: 1;
}

.gap8 {
    gap: 16px;
}

.imageContainer {
    position: relative;
    height: 30px;
    margin: 4px;
    min-width: 30px;
    flex: 1;
    max-width: 10%;
}

.arrow {
    align-self: center;
}

.highlight {
    background-color: rgba(232, 134, 108, 0.37);
    border-radius: 12px;
}

.scrollY {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

div {
    /*    background-color: #ff000011;*/
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.landing-page {
    font-family: Arial, sans-serif;
    text-align: center;
}

.herobackground {
    padding: 0;
    margin: 0 -20px;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}
