.cap {
    display: inline-block;
    padding: 0 4px;
    border: solid #000;
    /*    border-width: 1px 3px 3px 1px;*/
    border-width: 1px;
    border-radius: 0.25em;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.75em;
    margin: 0.25em;
    background-color: #fff;
    user-select: none;
    transition: 0.3s;
}

/*.cap:hover {
    transform: translate(2px, 2px);
    border-width: 1px;
}*/

@media (max-width: 700px) {
    display: none;
}
