.cap {
    display: inline-block;
    padding: 0 6px;
    border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    margin: 4px -12px 0 12px;
    background-color: #fff;
    user-select: none;
    transition: 0.3s;
    box-sizing: content-box;
    vertical-align: top;
    line-height: 20px;
}

/*.cap:hover {
    border-width: 1px 1px 1px 1px;
    transform: translate(0px, 1px);
}*/

@media (max-width: 700px) {
    .cap {
        display: none;
    }
}
