.quickactions {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.righttop {
    width: fit-content;
    text-align: right;
    float: right;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 8px;
    margin: 0;
}

@media (max-width: 900px) {
    .quickactions {
        overflow-x: scroll;
        justify-content: left;
    }
    .quickactions button {
        margin: 8px 8px;
        width: max-content;
        text-align: center;
    }
}
