.quickactions {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quickactionssidebar {
    text-align: left;
    width: 200px;
    min-height: 100%;
}

.quickactionssidebar * {
    margin: 8px;
    margin-top: 16px;
}

@media (max-width: 700px) {
    .quickactionssidebar {
        width: 100%;
    }
    .quickactionssidebar button {
        margin: 16px 0;
    }
}

.righttop {
    width: fit-content;
    text-align: right;
    float: right;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 8px;
    margin: 0;
}

.qrcard:hover > .righttop {
    opacity: 1;
}

@media (max-width: 900px) {
    .quickactions {
        overflow-x: scroll;
        justify-content: left;
    }
    .quickactions button {
        margin: 8px 8px;
        width: max-content;
        text-align: center;
    }
}
