/* .bg-red {
  background-color: #d9515e;
}
.bg-green {
  background-color: #51bb88;
}
.bg-teal {
  background-color: #0f8a8e;
}
.bg-orange {
  background-color: #f86e0b;
}
.bg-yellow {
  background-color: #9370db;
}
.bg-purple {
  background-color: mediumpurple;
}
.bg-blue {
   background-color: #00bbff; 
  background-color: #52bbe8;
} */

.card h2:hover {
  color: black;
}
.focused-title {
  color: black;
  font-size: 22px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 7rem;
  border: none;
  border-radius: 20px;
  float: right;
  margin: 10px 10px;
  padding: 10px 20px;
  top: 20px;
  right: 20px;
  color: black;
}

.card:hover {
  box-shadow: 4px 4px 4px lightgray;
}
.card > h2 {
  color: black;
  margin: 10px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 1px;
}
.card > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  text-decoration: underline;
  font-family: Poppins, Helvetica;
  margin: 0;
  font-size: 14px;
}
