.bg-red{
    background-color: #d9515e;
}
.bg-green{
    background-color: #51bb88;
}
.bg-teal{
    background-color: #0f8a8e;
}
.bg-orange{
    background-color: #f86e0b;
}
.bg-yellow{
    background-color: #9370DB;
}
.bg-purple{
    background-color: mediumpurple;
}
.bg-blue{
    /* background-color: #00bbff; */
    background-color: #52bbe8;
}


h2{
    color:gray;
    font-size: 27px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}
h2:hover{
    color: black;
}
.focused-title{
    color:black;
    font-size: 22px;
}
.card{
    width: 14rem;
    height: 7rem;
    border: none;
    border-radius: 20px;
    float: right;
    margin:  10px 10px;
    padding: 10px 20px;
    top: 20px;
    right: 20px;
    color:black;
}