.title {
  font-size: 85px;
  font-weight: 500;
  letter-spacing: 2.88px;
  line-height: normal;
  margin: 40px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.link h2 {
  color: gray;
  font-size: 27px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline block;
}
.link:hover {
  color: black;
}
