.expensecard {
    width: 20rem;
    max-width: 100%;
    margin: 12px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 16px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .expensecard {
        margin: 16px 0;
        width: 100%;
    }
}

.itemsplayground {
    height: 10rem;
    overflow-y: scroll;
}

.userplayground {
    border: 1px solid black;
    max-width: 20rem;
}

.righttop {
    text-align: right;
    float: right;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 8px;
    margin: 0;
}

.expenserow {
    align-items: center;
}

.expenserow td {
    border: none;
    box-sizing: content-box;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide any content that overflows its container */
    text-overflow: ellipsis; /* Add an ellipsis (...) when text overflows */
}

.expenserow h5 {
    margin: 0 8px 0 0;
    box-sizing: content-box;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide any content that overflows its container */
    text-overflow: ellipsis; /* Add an ellipsis (...) when text overflows */
}

.expenserow p {
    margin: 0;
    width: 100%;
    text-align: right;
}
