.popup {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    scroll-behavior: initial;
}

.userform {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 20px;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .popup {
        width: 100%;
        height: 100%;
    }

    .expenseform {
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    .popup h2 {
        margin-top: 32px;
    }
}

.color {
    margin: 0;
    width: 5rem;
    height: 2rem;
    border-radius: 50px;
    border: 0px;
}

.color:hover {
}

.color:focus {
}
.coloroverlay {
    position: absolute;

    background-color: rgba(255, 255, 255, 0);
    color: blue;
    z-index: 2;
}

.expenseform {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 15px;
    width: 40rem;
    max-width: 100%;
    justify-content: space-between;
    z-index: 2;
    max-height: 90%;
    overflow: scroll;
}

.userarea {
    display: flex;
    height: 20rem;
    overflow: scroll;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.payed {
    display: flex;
    float: left;
    flex-direction: column;
    min-width: 33%;
}

.payedto {
    display: flex;
    float: right;
    flex-direction: column;
    min-width: 33%;
}

.radiolabel {
    display: flex;
    flex-direction: row;
}

.checklabel {
    display: flex;
    flex-direction: row;
    float: right;
    text-align: right;
    justify-content: right;
}

.userareatitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.userbucket {
    width: 100%;
    height: 5rem;
    overflow: scroll;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 8px;
    box-sizing: border-box;
}

.currencytext {
    margin-left: 4px;
    font-family: 'Podkova Medium';
    font-size: 24px;
    display: inline-block;
}
.itemtablecontainer {
    width: 100%;
    overflow: scroll;
    padding-bottom: 16px;
}

.itemtable * {
    font-size: 14px;
}
.itemtable {
    width: unset;
    min-width: 100%;
}

.itemtable input {
    margin: 8px 0;
}
